{% extends "./layout/default" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ mainTitle }}</h1>
                <h2>{{ subTitle }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">Budget selection</p>
                <p>
                    Select which budget(s) to import from. <a href="https://docs.firefly-iii.org/other-data-importers/usage/filter_import/"
                                                       target="_blank">Check out the documentation for this page.</a>
                </p>
                {% if not errors.isEmpty %}
                    <p class="text-danger">Some error(s) occurred:</p>
                    <ul>
                        {% for error in errors.all %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <hr/>
                <div class="row">
                    <div class="col-lg-12">
                        <form method="post" action="{{ route('import.budgets.post') }}" accept-charset="UTF-8" id="store">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                            <!-- TODO add config -->

                            <!-- end add config -->
                            <h4>Budget selection</h4>

                            <div class="form-group row">
                                <div class="col-sm-3">Budgets</div>
                                <div class="col-sm-9">
                                    {% for budget in budgets %}
                                        <div class="form-check">
                                            <input class="form-check-input" name="budgets[]" value="{{ budget.id }}" type="checkbox" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                <strong><a href="https://app.youneedabudget.com/{{ budget.id }}/budget">{{  budget.name }}</a></strong> ({{ budget.currencyCode }})
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <small id="accountsHelp" class="form-text text-muted">
                                        Select the budget(s) from which you want to import data.
                                    </small>
                                </div>
                            </div>

                            <h4>Other options</h4>
                            <div class="form-group row">
                                <div class="col-sm-3">Skip budget selection</div>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" {% if configuration.isSkipBudgetSelection %}checked{% endif %} type="checkbox" id="skip_budget_selection"
                                               name="skip_budget_selection" value="1" aria-describedby="skipBudgetHelp">
                                        <label class="form-check-label" for="skip_budget_selection">
                                            Yes
                                        </label>
                                        <small id="skipBudgetHelp" class="form-text text-muted">
                                            Skip the budget selection the next time you import and go straight to processing.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- go back to start -->
                                    <a href="{{ route('back.upload') }}" class="btn btn-secondary">&larr; Go back to upload</a>
                                    <br />
                                    <small class="text-muted">Changes on this page will not be saved.</small>
                                </div>
                                <div class="col-lg-6">
                                    <!-- continue -->
                                    <button type="submit" class="float-right btn btn-primary">Submit &rarr;</button>
                                </div>
                            </div>
                        </form>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date_range_partial_settings').hide();
            $('#date_range_range_settings').hide();
            $('.date-range-radio').on('change', updateRange);
            updateRange();
        });

        function updateRange() {
            var check = $('input[name="date_range"]:checked');
            if ('partial' === check.val()) {
                $('#date_range_partial_settings').show();
                $('#date_range_range_settings').hide();
            }

            if ('range' === check.val()) {
                $('#date_range_partial_settings').hide();
                $('#date_range_range_settings').show();
            }
            if ('all' === check.val()) {
                $('#date_range_partial_settings').hide();
                $('#date_range_range_settings').hide();
            }
        }
    </script>
{% endblock %}
